<article class="flex flex-col items-center justify-center gap-8 text-gray-400 md:flex-row">
    <div
        class="text-xl [&>p]:mb-4 [&>p>strong]:text-gray-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            Me llamo Yamhil, pero mis amigos me llaman cat. Empecé en la
            programación a los 16 años, escribiendo codigo para videojuegos y proyectos de la escuela<strong>
                actualmente estoy cursando el 5to ciclo universitario.
            </strong>
        </p>
        <p>
            Algunas de mis fortalezas incluyen bases solidas en 
            <strong>
                programacion y estructura de datos, especificamente en C# y C++.
            </strong>
            Actualmente estoy aprendiendo a usar otras tecnologias como <strong> Astro, React y TailwindCSS.</strong>
        </p>
    </div>
</article>