<span 
class="text-xs md:text-sm lg:text-sm font-extrabold me-2 px-2 md:px-3 lg:px-3 py-1 md:py-1.5 lg:py-1.5 leading-tight rounded-full bg-green-800 text-green-400 border border-current hover:scale-110 hover:bg-green-700 hover:text-green-400 hover:border-current transition"
><slot/></span>

