<header class="fixed top-0 left-0 w-full z-50 backdrop-blur bg-black/40 border-b border-white/10">
    <nav class="flex flex-row gap-x-4 lg:gap-x-10 opacity-90 justify-center items-center py-4 text-xs md:text-base lg:text-lg text-white/80">
        <a href="#home">Home</a>
        <a href="#aboutme">Sobre mí</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="https://wa.me/51925587661?text=Hola%20vi%20tu%20portafolio%20y%20me%20gustaría%20conversar.">Contacto</a>
    </nav>
</header>
