<a
class="flex justify-center items-center rounded-full bg-black-100 text-sm font-medium me-2 px-2.5 py-0.5 dark:bg-black-700 text-gray-300 border border-current gap-x-1 hover:scale-105 hover:bg-white/10 transition"
{...Astro.props}
target="_blank" 
rel="noopener noreferrer"
><slot/>
</a>
